[2015-11-04 04:41] null-null-null opened #6 "Better Mixin names"
'cause 40 characters is too many.

[2015-11-04 04:43] null-null-null opened #7 "More generic mixins"
The onInsert/onFocus mixins are pretty much identical. Turn them into a single mixin, the leave it to the dev to assign `activateKeyboardOn` and `deactivateKeyboardOn`.

[2015-11-04 04:45] null-null-null opened #8 "Stack of stacks"
Currently, we have to resort the responderStack after each activation. Instead, we could use a map to hold stacks for each priority level. This could remedy the complexity around firstResponder as well.

[2015-11-04 04:47] null-null-null opened #9 "Remove onKeyUp and onKeyDown"
They're no longer necessary. And they're too limited at best, deceptive at worst.

[2015-11-04 04:51] null-null-null opened #10 "Better dummy app"
It could help persuade devs to use ember-keyboard, especially if it was interactive and hosted on github io.

[2015-11-04 04:53] null-null-null opened #11 "Replace ' ' with 'Space'"
Since that's what most devs will expect. Maybe support both?

[2015-11-09 20:41] null-null-null commented on #9
Resolved by https://github.com/null-null-null/ember-keyboard/commit/2c861514f1663b1ebcf713cada7df0d1edde94b4

[2015-11-09 20:41] #9 closed

[2015-11-09 21:40] null-null-null commented on #6
Resolved by https://github.com/null-null-null/ember-keyboard/commit/e34bff6f985152d5d824f6260d78e669e14038c1

[2015-11-09 21:40] #6 closed

[2015-11-14 16:38] vladimir-e opened #13 "Support key ranges"
After learning the code I don't think there is a simple way to listen to a key range like `A-z0-9\ `. Let me describe a use case for that.

I have a `table-cell` component (`<td>`) which can be "selected" by clicking on it. And now when it's selected I want user to be able to start typing so text inside the cell should be replaced with input field.

[code]

[code]

Do you think it would be useful

[2015-11-16 18:51] null-null-null commented on #13
That's an interesting use case, though I can't think of a way to support it without adding significant complexity. Let me think about this some more, though. There might be a solution I'm not considering yet.

[2015-11-17 01:47] null-null-null commented on #11
Resolved by https://github.com/null-null-null/ember-keyboard/commit/8533464dbd1cab2231ca3427244b8bac1b802cf4. Rather than providing a `Space` key binding (which is invalid to `event.key`), we throw an error if the provided key is not recognized. This will be helpful in cases beyond just 'Space', especially typos.

[2015-11-17 01:47] #11 closed

[2015-11-18 10:01] vladimir-e commented on #13
Hi there,

I think It's a very elegant solution. It doesn't add complexity for a regular (one-key) workflow at all, but adds a lot of flexibility introducing `keyUp()` with no arguments. Cool. Do you want me to give it a try?

[2015-11-18 13:43] null-null-null commented on #13
I've got a good idea of how to do it, but if you want to take a crack at it, I'd be happy to just review/offer guidance. Let me know what you decide.

[2015-11-18 15:01] vladimir-e commented on #13
Oh, I can see you actively working on the addon these days. Don't want to hold you on this task, as I will be able to get to it next week only.

[2015-11-21 01:24] null-null-null commented on #13
Resolved by https://github.com/null-null-null/ember-keyboard/commit/d3fa15aa5c5ed91ff2987f49ab74f30289e87edb. Let me know if it works for you!

[2015-11-25 14:21] vladimir-e commented on #13
Just checked it out and it works great. Thank you!

Couple of fixes for README piece of this commit:
1. `getKey` expects `event`, not `keyCode`, so in current example you would get `undefined` all the time.
2. Closing bracket is missing on `if` that checks regex.
(not sure if that worth opening PR)

I ended up writing this code for the original case:

[code]

Concerns somewhat related to this tick

[2015-11-25 18:16] null-null-null commented on #13
These seem like fine edits to open a PR for, especially the first one. Feel free to do so if you get a chance. Otherwise, I'll fix it when I make my next update.

[2015-11-25 18:17] null-null-null commented on #13
Reopening due to the error in the docs.

[2015-11-27 20:56] #13 closed

[2015-12-02 18:30] null-null-null commented on #7
Not going to support.

[2015-12-02 18:30] #7 closed

[2015-12-04 18:01] null-null-null commented on #8
Resolved by https://github.com/null-null-null/ember-keyboard/commit/2626d570b28369250694dae57867439a805b2020.

[2015-12-04 18:01] #8 closed

[2015-12-08 03:06] null-null-null opened #16 "Add ability to make keyboardPriority non-blocking"

[2015-12-15 01:29] null-null-null opened #17 "`keyboardPriority` should be dynamic"
Currently, the keyboardPriority gets hardset when the responder is activated. It needs to be deactivated before the keyboardPriority will change. Make it so that this property will change with the responder.

[2015-12-15 01:31] null-null-null opened #18 "Expose `keyboardFirstResponder` as a property on responders"
Currently, developers need to `this.get('keyboard').makeFirstResponder(responder)` when they want to activate an firstResponder. Make it so they can simply `this.set('keyboardFirstResponder', true);`.

[2015-12-15 21:50] KennedyTedesco opened #19 "Object doesn't support property or method 'values'"
Hi, I'm having this issue on IE11:

![image](https://cloud.githubusercontent.com/assets/999232/11824981/cd073f8a-a363-11e5-8653-90b285479644.png)

Do you have any idea to fix it?

Cheers!

[2015-12-16 01:44] null-null-null commented on #19
I'm working on an overhaul that should fix this. Until then, you should be able to get this working by adding this to you `ember-cli-build.js`:

[code]

[2015-12-16 02:01] KennedyTedesco commented on #19
Awesome! Thank you so much.

[2015-12-16 02:01] #19 closed

[2016-01-04 13:15] lolmaus opened #20 "Test helpers"
How do I test `ember-keyboard`-driven events?

[2016-01-04 18:06] null-null-null commented on #20
You should be able to use Ember's baked-in test helpers. For unmodified key events, try [keyEvent](http://emberjs.com/api/classes/Ember.Test.html#method_keyEvent). If you want a modified key event (eg, +shift, +meta, +ctrl), try using [triggerEvent](http://emberjs.com/api/classes/Ember.Test.html#method_triggerEvent) (there's a good example of it [here](https://github.com/null-null-null/ember-keybo

[2016-01-04 18:08] lolmaus commented on #20
Thank you for the modifier example! The only thing that's missing now is support for component integration tests: `keyEvent` and `triggerEvent` aren't available there.

[2016-01-04 18:13] null-null-null commented on #20
I haven't tested this yet, but you should be able to accomplish that with [jQuery key events](https://api.jquery.com/category/events/keyboard-events/). If you're interested in making some helpers that do that, it should be a pretty straightforward job. I'd be happy to merge in a feature like that.

[2016-01-04 18:14] lolmaus commented on #20
Thank you Timothy, I'll look into it next time I need key events in tests.

[2016-01-05 05:06] null-null-null commented on #17
Resolved by https://github.com/null-null-null/ember-keyboard/commit/a35670980ca300c8c42614af3b3081475bde1328.

[2016-01-05 05:06] #17 closed

[2016-01-05 05:06] null-null-null commented on #16
Resolved by https://github.com/null-null-null/ember-keyboard/commit/a35670980ca300c8c42614af3b3081475bde1328.

[2016-01-05 05:06] #16 closed

[2016-01-05 05:06] null-null-null commented on #18
Resolved by https://github.com/null-null-null/ember-keyboard/commit/a35670980ca300c8c42614af3b3081475bde1328.

[2016-01-05 05:06] #18 closed

[2016-01-05 05:07] null-null-null commented on #10
Resolved by https://github.com/null-null-null/ember-keyboard/commit/a6efca758793539ac3da6b9920133634e0e73306.

[2016-01-05 05:07] #10 closed

[2016-01-06 20:36] null-null-null commented on #19
Just fyi, the latest version of ember-keyboard (0.2.2) no longer requires the babel polyfill. Thanks for reminding me that this is an issue!

[2016-01-06 22:23] KennedyTedesco commented on #19
Thanks for your time on this.. :+1:

[2016-01-20 18:41] dipayanb opened #21 "Uncaught TypeError: t[m] is not a function"
I am getting this strange error with the following code :
[code]
The screen shot is given below:
<img width="1920" alt="screen shot 2016-01-21 at 12 06 26 am" src="https://cloud.githubusercontent.com/assets/2174097/12459127/296ed126-bfd3-11e5-99bb-d4da32244985.png">
The 'Escape' works fine but it is throwing this error when 'shift+s' is pressed.

[2016-01-20 18:49] dipayanb commented on #21
Sorry there was a mistake in the code and hence ember was throwing the error. Closing it.

[2016-01-20 18:49] #21 closed

[2016-01-20 18:52] null-null-null commented on #21
:+1:

[2016-01-28 22:13] null-null-null opened #22 "Make event listeners configurable"
At present, we only support `keydown` and `keyup`. Not only would it be nice to support `keypress`, but it'd be helpful to be able to handle other events through `ember-keyboard`'s priority system, such as `click` and `touchstart`.

The downside of handling all these different event types is that we've got to setup listeners for each. To keep the cost of `ember-keyboard` low, we'd have to let deve

[2016-02-17 23:08] ksnyde opened #24 "Using keyboard with tagless component"
I'm using tagless components more and more and I'd really like to use your addon but attach the events to a native DOM component that's in the handlebars template. Does this make sense? Is it possible?

[2016-02-18 02:02] null-null-null commented on #24
I haven't tried that before, but it should work. Any luck?
On Feb 17, 2016 3:08 PM, "Ken Snyder" <notifications@github.com> wrote:

[2016-03-03 21:58] null-null-null commented on #20
Let me know if https://github.com/null-null-null/ember-keyboard/commit/922e2fbe158f0296ff98f8b1a4c72d49686a979f works for you! It adds a `getKeyCode`, which you can then use with `keyEvent` like so:

[code]

[2016-03-03 21:59] null-null-null commented on #24
Let me know if you have any further questions around this!

[2016-03-03 21:59] #24 closed

[2016-03-08 11:46] lolmaus commented on #20
I was thinking of helpers like `keyDown`, `keyUp` and `keyPress`, all of which would have a footprint like this:

[code]

[2016-03-08 20:13] null-null-null commented on #20
Since `ember-keyboard`'s listeners are set on the `document`, we might not even need to provide a `target`, leading to `keyDown('ArrowRight')`. Would also be nice to support modifier keys, which are currently kind of tricky, eg: `keyDown('ctrl+ArrowRight')`.

[2016-03-08 20:22] lolmaus commented on #20
That's the level of convenience one would expect from custom test helpers!

[2016-03-09 00:27] null-null-null commented on #20
Resolved by https://github.com/null-null-null/ember-keyboard/commit/d384eba557682aecb9bd6d68f967978a1c6608b2. Enjoy! And thanks for the idea.

[2016-03-09 00:27] #20 closed

[2016-03-09 10:12] lolmaus commented on #20
Thank you!

Did you decide not to implement modifiers? Also, this needs a readme update.

[2016-03-09 18:23] null-null-null commented on #20
It should support modifiers. I've got `keyDown('ArrowRight+ctrl+shift')` working in the tests. Let me know if they're not working for you!

Also, just updated gh-pages to reflect these changes. You should see documentation in the interactive demo now.

[2016-03-09 18:53] lolmaus commented on #20
You rock! :metal:

I will try them out next time I do something keyboard-related.

[2016-03-21 22:40] null-null-null commented on #22
Resolved by https://github.com/null-null-null/ember-keyboard/commit/2c19dfc1efad37ca3224eb61ad9ffb75f3e33ba8.

[2016-03-21 22:40] #22 closed

[2016-03-22 20:17] deanmraz opened #26 "Default config read error: Cannot read property 'listeners' of undefined"
Confirmed on ember 2.3 and 2.4

By default it should be expected to listen to: ['keyUp', 'keyDown', 'keyPress'], but without emberKeyboard defined in config.

This is the error I get when trying to use defaults:
[code]

Should check to see if key "emberKeyboard" exists before access listeners.

[2016-03-22 20:24] null-null-null commented on #26
Good catch! Should be resolved by https://github.com/null-null-null/ember-keyboard/commit/a10daf78e0713197af7683d8002ad91b2e59d0cb. The fix should be on NPM as 1.0.2 in a few minutes.

[2016-03-23 17:41] null-null-null commented on #26
The issue should be resolved. Let me know if you continue to experience it!

[2016-03-23 17:41] #26 closed

[2016-03-24 03:15] deanmraz commented on #26
@null-null-null confirmed, thanks!

[2016-04-03 19:48] mschinis opened #27 "Edge support"
Hello,

Both the demo and my site don't seem to work properly with Microsoft Edge. I don't see any errors in the console. Any ideas?

Best,
Michael

[2016-04-03 20:01] mschinis commented on #27
The issue seems to be tied to the arrow keyboard buttons. Slash "/" works properly.

[2016-04-08 18:10] null-null-null commented on #27
Thanks for looking into this. I don't currently have Edge, but I can get a windows computer in a couple of weeks to start figuring this out. Sorry it'll take awhile.

[2016-04-10 18:47] mschinis commented on #27
Hm. I can reproduce it in IE 10-11 as well. Might be worth giving it a go on a trial account on browserstack :)

[2016-04-22 22:31] null-null-null commented on #27
Should be resolved by https://github.com/null-null-null/ember-keyboard/commit/94e11c141e47b7b5694dc02a91861ac2c4e0a378. Thanks again for reporting this, @mschinis! And please let me know if you experience any continued issues with IE.

[2016-04-22 22:31] #27 closed

[2016-04-23 01:22] mschinis commented on #27
Will give it a go tomorrow and report if there's any other issues. Thanks a
lot for the quick fix!
On Apr 22, 2016 11:31 PM, "Timothy Baron" <notifications@github.com> wrote:

[2016-04-23 15:59] Pasikonik opened #28 "wider scope"
Is it possible to set this mixin in whole route instead single component?

[2016-04-23 17:49] null-null-null commented on #28
I haven't tested it, but that should work. Just use the `EKMixin` as usual, and then add something like:

[code]

Let me know if that works for you!

[2016-04-27 06:04] lukemelia opened #29 "Example in docs for modifier key combination should use keyDown"
It seems that you need to use `keyDown` when using combinations such as `meta+Enter`. It took me a little while to realize this, and it would have helped if the example in the docs showed it this way.

[2016-04-27 19:46] null-null-null commented on #29
I'm unable to duplicate this, at least on Ubuntu with Chrome and Firefox. `keyUp+modifier-key` has generally worked for me; the only caveat I've found is around `event.preventDefault`. The `keyUp` observer won't fire until after the event completes its default action, while `keyDown` will catch the event before it can complete.

I'd definitely like to figure out what's causing this, though. Mind s

[2016-04-27 19:46] null-null-null commented on #28
Any luck with this? You should be able to put that directly in your route.

[2016-04-27 20:12] lukemelia commented on #29
I did `ember new keyboard-example` and added a simple component with `meta+Enter` set up to fire on keyDown and keyUp. The functions add to a log that is displayed by the template. On Chrome Mac,  when pressing meta(Command)+Enter only the keyDown logs. It's at https://github.com/lukemelia/keyboard-example and the part that is not initial ember-cli app is added here: https://github.com/lukemelia/k

[2016-04-27 20:44] null-null-null commented on #29
Looks like this is OS-related. On Ubuntu, I'm logging both the `keyDown` and `keyUp` events.

Either way, thanks for taking the time to report this! Not sure if there's a solution, but I'll start looking into one. Until then, I'll definitely add that warning to the docs.

[2016-04-27 20:59] null-null-null commented on #29
Docs have been [updated](https://github.com/null-null-null/ember-keyboard/commit/95ab621a6f3d382dfb77fb60d686ef2ea4aac1d5). Thanks again, @lukemelia!

[2016-04-27 20:59] #29 closed

[2016-04-27 21:07] lukemelia commented on #29
Looks good! 👍

[2016-05-04 23:00] null-null-null commented on #28
Closing for the time being. Let me know if there is any further trouble with this, @Pasikonik.

[2016-05-04 23:00] #28 closed

[2016-05-07 16:45] Pasikonik commented on #28
All work perfect, sorry for slow response.

[2016-05-13 03:28] ryanjm commented on #28
@Pasikonik Thank you for the tip about `Ember.Evented`! That was the piece I was missing.

It would be helpful to have that in the docs for those of us wanting to include this in a controller for now.

[2016-05-25 14:52] SirZach opened #30 "Demo: ctrl+arrow key doesn't work"
Arrow keys and ctrl+shift+arrow works but ctrl+arrow does not work.

[2016-05-25 14:53] SirZach opened #31 "Use ember-keyboard on the application as a whole"
I want keyboard shortcuts to work without setting them to a specific component. I want the keyboard shortcut to trigger a page transition for example. Because there's isn't a application component, any thoughts on how to do this?

[2016-05-25 18:14] null-null-null commented on #31
This isn't documented (though it could easily be added to the misc section at the end of the docs), but the `EKMixin` can be added to any Ember object, including a route. So, you should be able to just add these key bindings directly to your application route.

[2016-05-25 18:16] null-null-null commented on #30
They work for me on Ubuntu Chrome, but this might be related https://github.com/null-null-null/ember-keyboard/issues/29. Which OS are you using? And browser?

[2016-05-25 18:56] SirZach commented on #30
Chrome 50.0.2661.102  on Mac OS.

[2016-05-25 18:56] SirZach commented on #31
Oooh good to know. I'll test that out and if it works I'll submit a PR for documentation.

[2016-05-25 19:40] null-null-null commented on #31
Thanks, @SirZach!

[2016-05-25 19:41] null-null-null commented on #30
I'm gonna have to get my hands on a Mac and play around. Not sure what is going on this time.

[2016-06-01 08:42] JonathanBristow opened #32 "Modifier Keys are not working in Safari (OSX), Firefox (OSX), and IE 11 (Win10)"
I cannot get any keyboard shortcuts which contain a ctrl, alt or shift to work in the browsers mentioned. I am testing using a Mac (and Parallels for Windows 10/IE11).

The demo linked to in the read me doesn't work fully in Firefox, you can press the arrow keys but when you use the modifier key it doesn't respond.

Is this something you are aware of and is there a fix/workaround?

Thanks!

[2016-06-01 17:53] null-null-null commented on #32
Thanks for the report, @JonathanBristow. I think this is related to https://github.com/null-null-null/ember-keyboard/issues/30. I'm gonna get my hands on a Mac soon, which hopefully will give me some insights into what's going on. Unfortunately, I can't replicate any of these bugs on Ubuntu, my own OS.

If you're interested in helping, what I really need is to look at the key event. You could grab

[2016-06-08 18:49] oliverwilkie commented on #31
If it helps, I've been able to get it to work on Routes, but not Controllers.
Thanks for the plugin!

[2016-06-08 21:05] oliverwilkie commented on #32
I've noticed in my experience that

`shift+r` doesnt work in my Chrome but `shift+R` does

[2016-06-08 21:30] oliverwilkie commented on #32
I think I know how to reproduce it

Imagine you have a listener for shift+r

When you press shift+r together the gather keys method returns `shift` and `R`.
We would expect it to return `shift` and `r`

I think it can be fixed by editing `ember-keyboard/addon/utils/get-key.js` from
[code]
to
[code]

[2016-06-08 21:41] oliverwilkie commented on #32
Hastily prepared PR: https://github.com/null-null-null/ember-keyboard/pull/33

[2016-06-08 22:03] JonathanBristow commented on #32
Hi Oliver

I'll be picking this up again in about a week so I'll test it out and see what I can work out then.

Jon

Sent from my iPhone

[2016-06-09 00:46] null-null-null opened #34 "Community Feedback Request: Should We Move Over to `KeyboardEvent.code` and away from `KeyboardEvent.key`?"
Currently, `ember-keyboard` uses [KeyboardEvent.key](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key) to determine which key was pressed. Despite its name, `key` doesn't return the actual key that was pressed, but rather the resolved value. For instance, it will return either 'a' or 'A', depending on whether or not shift is being held. Similarly, it'll return '1' for both the di

[2016-06-09 22:04] null-null-null commented on #34
With `key`, we can still distinguish between the equivalent of 'Digit1' and 'Numpad1' using [location](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/location). For instance, if we wanted to only respond to 'Numpad1', we might use an api like: `keyDown('1', { location: 3 })`.

So that just leaves 'Consistency' as a benefit of switching to `code`.

[2016-06-13 01:01] bladnman opened #35 "TEXTAREA and INPUT unfocus issues"
I have a simple scenario where adding `{{textarea}}` or `{{input}}` helpers works as described in not producing Ember-Keyboard events, but after leaving the fields the events do not start to flow again.

I have debugged and your `resignFirstResponderOnFocusOut` is firing as expected when I leave the field but no more Ember-Keyboard events are reported in other listeners.

As a quick fix I did the

[2016-06-13 01:19] bladnman commented on #35
added a quick PR in case this seems reasonable

[2016-06-13 14:27] bladnman commented on #34
I may not forward this issue much here but I thought I'd share. When building out the first series of keyboard handlers I attempted to set up hooks for `keyDown('=')` and `keyDown('shift+=')`. My myopic view of the world was to look at my keyboard and say "this key and the shift of the same key". It took me quite some time to figure out why it was not working and then rewire the second one as `key

[2016-06-13 17:43] null-null-null commented on #35
Sorry about the bug, @bladnman! I'm still trying to replicate the issue, but I'm not having any luck. (I'm using the inputs on the [demo](http://null-null-null.github.io/ember-keyboard/) to test.) Could you send me a repo with a failing example? I'd like to figure out why this works in some situations, but not all.

I can definitely see your PR working in 99% of cases, but it would lead to regress

[2016-06-13 17:51] null-null-null commented on #34
`keyDown('shift++')` sounds like a bug in its own right. Thanks for bringing that to my attention.

My main concern with using `code` is the matter of consistency, especially when we take into account custom keyboard layouts. That being said, there are definitely use-cases for `code`. Perhaps it could be opt-in: `keyDown('KeyW', { isCode: true })`?

[2016-06-13 20:02] null-null-null commented on #34
Actually, the opposite default is probably necessary: `keyDown('w', { isKey: true })`. This is because Safari (and a few mobile browsers) do not yet support `key`, and we can't accurately polyfill it. (While we can assume `shift` plus `a` will output `A`, we can't assume that `shift` plus `=` will output `+` for all keyboard layouts.) Because of this, I think we should make `code` the default afte

[2016-06-20 19:17] null-null-null commented on #34
There's a prerelease [here](https://github.com/null-null-null/ember-keyboard/releases/tag/v2.0.0-beta1) that move over to `code`. Try it out if you get a chance! I'll make this release official in a couple of weeks, unless we discover a reason not to.

[2016-06-24 17:09] blimmer opened #38 "[FEATURE REQUEST] Easily wire up ⌘ + Key or Ctrl + Key based on OS"
Often, if you're implementing a Ctrl + Key type shortcut, you want that to be ⌘ + Key on macOS. Right now, I produce the events in a helper function after figuring out what OS the user is on.

What do you think about adding a special command we could issue that would do this for us? Something like:

[code]

[2016-06-24 17:36] null-null-null commented on #38
Just to be clear, should it work like this:

Mac:
true when `meta` is held
false when `ctrl`is held

Other platform:
false when `meta` is held
true when `ctrl` is held

(I'm not super-savvy with Macs, but it looks like ⌘ is mapped to `metaKey`. Do people typically call it the Command key, though? If so, which in your opinion would be less confusing, `ctrlOrMeta` or `ctrlOrCommand`?)

[2016-06-24 18:34] null-null-null commented on #38
Actually, what if we just call it `cmd`? So, `keyDown('Enter+cmd')`, which does the above. `meta` for Macs, `ctrl` for other platforms.

[2016-06-24 20:05] blimmer commented on #38
Your assumption in the first comment is correct. Typically when people are talking about the ⌘ they say the word "command" as that's what printed on the Mac keyboard. However, in the keyboard event world, it maps to `meta` (same with windows key on windows). `Enter+cmd` definitely works for me.

[2016-06-24 20:08] null-null-null commented on #38
I'll bring that into 2.0

[2016-06-27 02:47] #38 closed

[2016-06-27 02:59] blimmer commented on #30
@SirZach I'm able to reproduce this. The problem is as follows:

When just the left arrow is pressed, these are the keys reported
[code]

But when you are holding control, this is reported:
[code]

and with shift:
[code]

@null-null-null is this something we should normalize for the end user?

[2016-06-27 03:00] blimmer commented on #31
@SirZach do you have time for that PR? If so, it would be a nice addition to the 2.0.0 branch.

[2016-06-27 15:14] null-null-null commented on #30
@blimmer Great find! No, on Ubuntu it's always ArrowLeft. And yes, we should definitely normalize this before 2.0. In 1.0 we were doing something [similar](https://github.com/null-null-null/ember-keyboard/blob/94e11c141e47b7b5694dc02a91861ac2c4e0a378/addon/utils/listener-name.js#L4) for alt key names in Windows. We could do something like that again, but I'd like to find a list somewhere of what e

[2016-06-27 15:16] null-null-null commented on #30
@blimmer Actually, when you're getting "ControlLeft", is that in 2.0? Because "ControlLeft" should hopely be referring to the left control key: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code.

[2016-06-27 16:12] blimmer commented on #30
Yep, that's in 2.0. I wonder if there's something weird about the OS grabbing and preventing Ctrl+Arrow.

[2016-06-27 16:19] blimmer opened #40 "Key Indifference + `cmd`"
I ran into some weird behavior when trying to utilize Key Indifference with the `cmd` behavior:

I want to wire up a listener for `Digit1+cmd` through `Digit9+cmd`. I was hoping to use key indifference like this:
[code]

However, that listener never fires. Looking at the key event that's coming in, this is the result:
[code]

is this a bug?

[2016-06-27 18:17] null-null-null commented on #40
That seems like the correct listener event, as it should actually be listening for 'cmd' here (just like it would be listening for 'Digit1' if you `keyDown('Digit1')`). To get this working, you'd do something like:

[code]

But you'd also have to check the event to see if it 'cmd' is being held. Probably something like:

[code]

Let me know if that works!

[2016-06-27 18:38] blimmer commented on #40
That'll work! Just wanted to make sure that was the correct way to do it.

[2016-06-27 18:38] #40 closed

[2016-07-01 21:40] null-null-null commented on #34
Resolved by https://github.com/null-null-null/ember-keyboard/commit/50bab0cae9d4aa9fee63f930f511b0da6a9cfbe8.

[2016-07-01 21:40] #34 closed

[2016-07-08 21:11] bargar opened #43 "Component Integration Test Helpers"
Acceptance test helpers seem to be in good shape thanks to resolution of #20.

For tighter component-level testing, helpers that would work outside of acceptance tests would be greatly appreciated.

Even a working example of triggering specific key events _without_ helpers in the context of a component integration test would be appreciated. I figure the basis of this could be something like
[code]

[2016-07-13 17:13] null-null-null commented on #43
Thanks for the idea! This should be resolved now, via https://github.com/null-null-null/ember-keyboard/commit/90e19546a477a5141a3412f5a8d480088f317801. You can now:

[code]

[2016-07-13 17:13] #43 closed

[2016-07-13 21:31] bargar commented on #43
@null-null-null works like a charm. *tips cap in appreciation*

[2016-07-18 19:48] eibrahim opened #45 "Not working on a controller"
I got working in a component and a route but can't get it to work on a controller.  Is that by design?  Why?

[2016-07-18 21:06] null-null-null commented on #45
Good catch. It's resolved by https://github.com/null-null-null/ember-keyboard/commit/3dffb64b2c4329f4087e41a9cba9a4d32e6d3d7a. Grab the bugfix on `2.1.1`.

[2016-07-18 21:06] #45 closed

[2016-07-18 21:07] null-null-null commented on #31
@oliverwilkie As of `2.1.1`, controllers can now use the EKMixin.

[2016-07-27 11:48] monovertex commented on #31
I'm not sure if I'm doing something wrong, but when using the EKMixin in a service I get this error:

`Uncaught TypeError: responder.trigger is not a function`

I'm guessing services don't have that required `trigger` method defined?

[2016-07-27 17:55] null-null-null commented on #31
@monovertex You should be able to fix that by upgrading to `ember-keyboard 2.1.1`. If that's not an option, you might also be able to just add the `Ember.Evented` mixin to your service.

[2016-08-15 21:10] clekstro opened #46 "Fastboot compatibility"
When attempting to install and run `ember-cli-fastboot`, I get the following error:
`ReferenceError: navigator is not defined`.

[2016-08-15 23:08] null-null-null commented on #46
Thanks for the reminder. I had been putting off fastboot support until it left beta, but if there's need for it already, I can address this sooner. If you're interested, I could also point you the lines that need integration.

[2016-08-21 20:33] ryanjm commented on #45
@null-null-null How do I tell it to stop observing the key when the controller is no longer being displayed?

[code]

This transitions the route even when the controller isn't displayed anymore.

[2016-08-21 23:48] null-null-null commented on #45
You could probably do something like this in the route:

[code]

Docs on [`resetController`](http://emberjs.com/api/classes/Ember.Route.html#method_resetController).

[2016-08-22 14:50] ryanjm commented on #45
Thanks @null-null-null. For anyone else looking at this, I also had to add:

[code]

Since `resetController` isn't called when coming back into the route.

[2016-08-23 04:07] djsegal opened #47 "Getting "Could not find module `ember-get-config`..." error"
I think it might be related to a recent ember-get-config update

----------

``loader.js:219 Uncaught Error: Could not find module `ember-get-config` imported from `ember-keyboard/services/keyboard```

[2016-08-23 04:13] djsegal opened #48 "Typo in docs (no method called getKey)"
the import statement at the top of these docs gets the wrong method (it's supposed to be `getCode`)

-------

file:
+ https://github.com/null-null-null/ember-keyboard/blob/master/tests/dummy/app/templates/usage.hbs#L81

[2016-08-24 14:57] null-null-null commented on #47
Removed `ember-get-config` from the deps in `v2.1.2`. Let me know if that fixes the problem you're having.

[2016-08-24 15:06] null-null-null commented on #46
@clekstro I believe this issue should be resolved by `v2.1.3`. (I've got `ember-keyboard` working with a fastbooting version of the demo app.) Let me know if it resolves the problem for you.

[2016-08-24 15:07] null-null-null commented on #35
Let me know if this problem presents itself again.

[2016-08-24 15:07] #35 closed

[2016-08-24 16:51] null-null-null commented on #31
Docs have been updated with this info. Thanks everyone!

[2016-08-24 16:51] #31 closed

[2016-08-24 16:53] null-null-null commented on #32
I believe this issue has been resolved as of `v2.0.0`. Let me know if we should reopen this!

[2016-08-24 16:53] #32 closed

[2016-08-24 16:55] null-null-null commented on #30
I changed the interactive demo and added a warning against using `ctrl` modifiers due to MacOS swallowing the events. It might be worth compiling a list of key bindings that cannot be used on particular systems. I'll look into this today.

[2016-08-24 16:55] #30 closed

[2016-08-24 16:55] null-null-null commented on #48
Resolved! Thanks for letting me know about this.

[2016-08-24 16:55] #48 closed

[2016-09-01 15:33] null-null-null commented on #47
This should be working now. If it's not, feel free to reopen this one!

[2016-09-01 15:33] #47 closed

[2016-09-01 15:33] null-null-null commented on #46
This should be working now, but if not, feel free to reopen this one!

[2016-09-01 15:33] #46 closed

[2016-09-11 12:28] anijap opened #49 "'Enter' key (all non-alphanumeric?) on input field do not fire"
[code]

**KeyS** fires just fine but **Enter** does not.
A quick test also shows the **Shift** key does not fire. I suspect there are others. Perhaps all non-alphanumeric keys?

[2016-09-12 22:26] null-null-null commented on #49
Good to know. I think I'll start a page in the documentation that just records all the keys we find that won't fire an event, and in which OSs they fail.

[2016-09-13 04:24] anijap commented on #49
Isn't it fixable?
I can catch these keys without ember-keyboard just fine.

`{{input id="message-input" value=message autofocus="autofocus" key-press="handleKeyPress"}}`

[code]

This is also what I imagine to be a relatively common use case: having a text field and expecting the enter key to kick off an action.

[2016-09-13 15:38] null-null-null commented on #49
The question is, can you get that to work on `keyUp`, like in your TextField? Similarly, is the TextField still broken if you use `keyDown`?

[2016-09-28 17:10] kellyselden opened #50 "fastboot support"
I see you have some fastboot commits recently, but from what I'm seeing, it's not quite there yet. I'm getting:
[code]
from https://github.com/null-null-null/ember-keyboard/blob/master/addon/services/keyboard.js#L40

which is run because of https://github.com/null-null-null/ember-keyboard/blob/master/addon/mixins/ember-keyboard.js#L14

which is probably run because of https://github.com/null-null-

[2016-10-05 17:22] #50 closed

[2016-10-25 23:13] nruth opened #52 "route usage: docs example / query"
I'd like to PR this, but would appreciate a sanity check.

The docs example at the moment works for components, but doesn't warn that strange things will happen if you copy-paste that into a route, which devs unfamiliar with ember lifecycle hooks are bound to do, pardon the pun.

The trouble is that leads to shortcuts executing on pages that they shouldn't, because the routes are singletons and se

[2016-10-25 23:25] null-null-null commented on #52
Yeah, that looks like it would work. It might be worth changing the `activate-keyboard-on-insert` mixin to look like this:

[code]

[2016-11-14 14:13] lolmaus opened #53 "Unable to unit-test a component that uses ember-keyboard"
Hi!

I would like to unit-test a component: `ember g component-test -u my-component`. The goal is to test methods and actions individually, without any context.

Even the basic test crashes with:

Which seems come from to [these lines](https://github.com/null-null-null/ember-keyboard/blob/fefd4194c680a992a3afa0ea1f281830bc91725b/addon/services/keyboard.js#L38-L39):

[code]

How do I run unit tests

[2016-11-14 16:25] null-null-null commented on #53
Thanks for the report! Should be fixed on `v2.1.5`. Let me know if that works for you.

[2016-11-23 23:49] lolmaus commented on #53
Sorry, I no longer have access to that codebase.

Please close if you believe it's fixed.

[2016-11-24 01:03] null-null-null commented on #53
No worries. Thanks for reporting back.

[2016-11-24 01:03] #53 closed

[2016-12-05 15:06] trisrael opened #54 "Is double keyUp/keyDown possible?"
Wondering if out of the box this is supported, I think probably not as "a+b", is simpler to achieve.

How might you suggest approaching this?

[2016-12-12 21:35] null-null-null commented on #54
Unfortunately not. Adding that functionality would be a significant improvement, but one that I'm not planning to undertake anytime soon. To do it, `ember-keyboard` would have to keep track of which keys are being held down. It should be possible by listening to `keydown` and `keyup` events, if you or anyone else is interested in tackling the problem.

[2016-12-12 21:41] trisrael commented on #54
I guess more specifically.

Is double keying possible:
'aa'
'backspacebackspace'

So keyUp, keyDown, keyUp, keyDown

[2016-12-12 21:46] null-null-null commented on #54
I'm not sure exactly. Do you mean a binding that will trigger when any of this keys are pressed individually? Or only when all those keys have been pressed in that specific order?

[2016-12-12 22:02] trisrael commented on #54
In that specific order, with nothing else inbetween

[2016-12-12 22:04] null-null-null commented on #54
`ember-keyboard` won't do that on its own, unfortunately.

[2016-12-12 22:08] trisrael commented on #54
Do you think it could be one of it's concerns to do so? Basically similar to touch gestures (but for keyboard). _(i.e: If I coded up a solution/API for this...could it ever get into the library)_

Or would that more be a plugin/dependent sibling addon.

[2016-12-12 22:14] null-null-null commented on #54
Yes, that's something that could warrant a `3.0.0`. I'd really appreciate it. If you go that route, though, just keep me in the loop as you flesh out the API.

[2016-12-28 23:57] yjaspar commented on #53
Hi!

I just landed here after searching for unit-tests with ember and ember-keyboard.
I am trying to test my controller, but now that I added ember-keyboard to it, I'm getting that error:
`TypeError: Cannot read property 'register' of undefined`

The error seems to be located on [this](https://github.com/null-null-null/ember-keyboard/blob/master/addon/mixins/ember-keyboard.js#L14-L17):
[code]

[2016-12-29 21:33] null-null-null commented on #53
@yjaspar Just to check, have you:

[code]

or:

[code]

[2017-01-05 23:25] et opened #55 "TypeError: (0 , _emberKeyboard.initialize) is not a function"
As per the [testing page](http://null-null-null.github.io/ember-keyboard/#/testing).

[code]

throws an error:

`TypeError: (0 , _emberKeyboard.initialize) is not a function`

Given this commit, 477a1c1b09acc2aca8254cbd1cf0a5773012e077, it looks like the import is actually:
`import { initialize } from 'ember-keyboard/initializers/ember-keyboard-first-responder-inputs';`

Can you confirm this? If s

[2017-01-06 01:28] null-null-null commented on #55
That could also work, but we should be able to just grab it directly off `ember-keyboard`. I'll look more into this soon and publish a fix. Thanks for bringing this to my attention, @et!

[2017-01-06 19:16] yjaspar commented on #53
I used to have the second one.
To make my tests pass I used the first one.

[2017-01-09 16:46] null-null-null commented on #55
Hey @et, I'm having trouble replicating this. Would you mind letting me know which version of `ember-cli` and `ember-keyboard` you're using?

[2017-01-09 22:41] et commented on #55
Hey @null-null-null, I was using:
[code]

using the latest release of `ember-keyboard: 2.1.9` works 👌

Thanks and sorry for the noise.

[2017-01-09 22:41] #55 closed

[2017-02-10 10:49] lolmaus commented on #49
Also ran into this, switched to `keyDown` which works fine.

[2017-02-11 19:02] null-null-null commented on #49
Thanks for the reminder. Definitely need to get a list of key events that don't reach `ember-keyboard`.

[2017-02-11 19:10] briarsweetbriar opened #56 "Unpropagated Key Events"
Some key events are swallowed by the browser well before they reach `ember-keyboard`. This is especially true on Macs. If you encounter such an event, please leave a comment on issue listing the key and which events do not propogate (aka, keydown, keyup, keypress). Thank you! This will help us compile a list for the docs.

[2017-02-11 19:11] null-null-null commented on #49
Started compiling a list on the Usage page of the docs. In addition, I opened a new issue specifically for this [here](https://github.com/null-null-null/ember-keyboard/issues/56). Thanks again for reporting this @anijap  and @lolmaus.

[2017-02-11 19:11] #49 closed

[2017-02-11 19:15] anijap commented on #49
Perhaps there could be a script that iterates through all the key events so that you could get a good idea of what is not working on Macs, Linux, etc?

[2017-02-11 19:17] null-null-null commented on #49
That makes a lot of sense.

[2017-02-11 19:17] lolmaus commented on #49
I guess you have to know what to test for... Like, we ran into this issue with text fields; who knows what other landmines await us out there?

[2017-02-11 19:19] null-null-null commented on #49
@lolmaus Just to be clear, are you saying that you found events that will be swallowed when a text field is focused that are not swallowed otherwise?

[2017-02-11 19:21] anijap commented on #49
Correct - when I ran into this it was only happening exclusively on text fields.

[2017-02-11 19:23] null-null-null commented on #49
That's good to note. At the very least, we can run these tests both inside and outside of text fields. If other elements or states prove problematic, we can add those too.

[2017-02-11 19:26] anijap commented on #49
Yep - at least it's a start :)

[2017-02-28 19:29] andremalan commented on #54
@trisrael are you still working on this? I'm looking for something very similar (except with a short timeout, similar to Gmail's  "gi" for "go to inbox". Happy to work with you on a solution.

[2017-03-13 06:12] hejianghu opened #57 "How to send an action from an component to the controller with the addon?"
#### I got the addon run successfully, but when I tried to  send an action from an component to the controller with the addon, an error was reported as follows.
[code]

Is there anything wrong with my usage? Or there is another way to do it?

[2017-03-23 18:39] mitchiru opened #59 "Missing Plus"
Plus would be a very logical option to add:

187: 'Plus',

[2017-03-23 18:40] #59 closed

[2017-03-23 18:40] mitchiru commented on #59
I see, it is equal.

[2017-03-30 20:15] dangodev commented on #40
Had a similar problem—this works for `keyDown()` but not for `keyUp()` on Chrome / Mac.
Weirdly enough, for Mac, `event.metaKey` is `true` on down, and `false` on up, even though it still returns the proper `keyCode`: `91`.

This is a little outside the scope of this issue, but would anybody happen to know if this is expected behavior, or a bug?

[2017-04-03 14:44] drwpow opened #60 "How to override Chrome & Firefox’s browser shortcuts?"
Aside from the “this isn’t best practice” argument that I’m aware of (it’s a heavy power-user interface for an enterprise client that requested shortcuts), I’m looking for a way to override Chrome and Firefox’s default shortcuts. Namely `⌘ + n` on a Mac. Safari seems to respect `keyDown('KeyN+cmd')`, but Chrome and Firefox simply ignore it.

This is the event callback in my route:
[code]
(the last

[2017-04-03 15:20] dangodev commented on #60
Update: this might be a browser thing. From this page: http://unixpapa.com/js/testkey.html, there seem to be shortcuts that Chrome ignores `event.preventDefault()` for:

- `⌘ + n`
- `⌘ + q`
- `⌘ + t`
- `⌘ + w`
- `⌘ + ,`

Firefox seems to follow suit, for some unknown reason.

I originally posted this as more of a question, but now I’m leaning toward this being outside of Ember Keyboard’s scope. Ho

[2017-04-10 22:14] oskarrough opened #61 "Avoid `keyUp` events from other tabs"
Hi, my application has a shortcut on the 'w' key on `keyUp`.

If I land on my application in a browser tab after using the default `super+w` to close another tab, the shortcut will fire without the user intending to.

So my question is, is there a way to avoid `keyUp` events that were started (`keyDown`) in another tab?

[2017-04-16 17:34] null-null-null commented on #61
Not built into `ember-keyboard` itself, though you could (kind of) track this locally. For instance, something like:

[code]

The problem is, this could be painful to support if you have to do it for a lot of keys. It also still buggy. What if the user tabs away with `super+w` (registering the keyDown event) and then tabs back in the same way? You'd have the same problem.

You could maybe work aro

[2017-04-16 17:36] null-null-null commented on #60
This definitely seems related to https://github.com/null-null-null/ember-keyboard/issues/56

Thanks for bringing these to my attention, @dangodev.

[2017-08-22 13:10] buschtoens opened #63 "Passthrough priority handling / Explicit propagation"
Firstly, thank you for this wonderful addon. I've been using it for over a year now and still love it. :heart:

However, IMHO the current priority handling is a bit unpractical with big apps.

If component A has a higher priority than component B, then A swallows *all* shortcuts. Even if it does not intend to handle these or hasn't even set up listeners. `keyboardLaxPrirority` often isn't an optio

[2017-09-07 10:29] cbou commented on #63
Yeah I need this too!

[2017-09-09 19:35] allthesignals commented on #56
Same thing with ArrowDown, when input is activate - event does not seem to propagate.

[2017-09-09 19:37] allthesignals commented on #56
I wonder if this is because the input helper is an ember-view and that's what swallowing this up?

[2017-09-09 19:40] allthesignals commented on #56
Testing without input helpers, the events are fired even when the input field is activated. This includes using `Enter` on `keyUp`.

[2017-09-11 19:04] null-null-null commented on #63
Hi @buschtoens. I'm totally :+1:

In terms of the preferred way for listeners to propagate, relying on return values could be problematic for an edge case: specifically, if somebody is ever manually calling these functions and using the return value. I don't see why that's an edge case we'd have to support, though. It would be easy enough for users to separate that out into two functions.

As for

[2017-09-18 09:52] buschtoens commented on #63
I second that. Should ember-keyboard complain loudly (assertion, warning) when an event handler returns an invalid object?

And yeah, I'm still very much interested in PR :blush:

[2017-09-18 12:08] null-null-null commented on #63
Yes, a warning sounds like a wonderful idea! We're using [`ember-logger-test`](https://github.com/null-null-null/ember-logger-test) if you want to add a test around it.

[2017-09-18 13:15] buschtoens commented on #63
Looking at the code I've just realized, that we can't use a return value, since [`trigger`](https://www.emberjs.com/api/ember/2.15/classes/Ember.Evented/methods/trigger?anchor=trigger) does not return the value of the listener, which makes sense, since you can have multiple listeners for one event.

Which highlights another problem: what should we do, if there are multiple listeners for a given ev

[2017-09-18 13:23] null-null-null commented on #63
I like that approach a lot. I feel like it has the potential to improve some of the things about `ember-keyboard` that have bothered me for a long time, too. So yes, let's do it like that!

[2017-09-18 13:24] null-null-null commented on #63
(btw, thanks again for all the clean up you did this morning. it's really appreciated.)

[2017-09-19 13:29] cbou opened #68 "`keyDown('cmd')` never fires"
It was asking in #40 if the fact that `keyDown('cmd')` never fires is a bug or a feature.

To me it looks like a bug.

Is it plan to be fixed?

[2017-09-20 13:03] #63 closed

[2017-09-20 13:11] null-null-null commented on #68
My suspicion is that this is related to https://github.com/null-null-null/ember-keyboard/issues/56. Basically, some events are swallowed by the browser before they reach `ember-keyboard`. Unfortunately, that means there's not a way to fix this, at least as far as I know.

[2017-11-05 13:57] samselikoff commented on #54
@andremalan same... I want `gi` for goto inbox

[2017-11-05 15:19] samselikoff opened #71 "Question mark?"
I tracked down [this PR](https://github.com/patience-tema-baron/ember-keyboard/commit/838873b339014f39752e928c7365dd38937e1934#diff-30a6e543ac444bcb73717e59754ce525) which added the question mark. Did it get lost in some refactoring? If so I'll add it back

[2017-11-05 16:14] patience-tema-baron commented on #71
It's been awhile, but I believe that was taken out in the migration to `2.0`, as we went from using `key` to `code`. Would `shift+Slash` work, instead?

[2017-11-06 10:13] andremalan commented on #54
Ah, nice!

[2017-11-11 13:37] optikalefx opened #72 "Cannot get this to run no matter what"
I feel like I must be missing something, but I've read everything I can so far.

- I've got the addon installed, ember restarted.
- in my app route (this will be a global shortcut) I have `import { EKMixin } from 'ember-keyboard';`
- In my app controller, I have `import { keyUp, keyDown } from 'ember-keyboard';` and `this.set('keyboardActivated', true);` on the init method.
- In my app route, I ha

[2017-11-11 13:37] optikalefx commented on #72
Ember 2.15.0 by the way

[2017-11-11 14:12] buschtoens commented on #72
You have to use the mixin in the same object that you set `keyboardActivated` and add the event handler, e.g. everything on your application route.

[2017-11-11 14:29] optikalefx commented on #72
Thanks for getting back to me.

In my app route I have

[code]

And then in my app controller I have

[code]

But still nothing logging at this point.

[2017-11-11 14:39] patience-tema-baron commented on #72
Have you tried:

[code]

[2017-11-11 14:42] optikalefx commented on #72
That did it. Awesome. Thanks!

[2017-11-11 14:42] #72 closed

[2017-11-11 18:56] optikalefx opened #73 "First time use of this addon - is this the best user interface?"
I mean absolutely no disrespect - I'm very grateful to everyone who has worked on this project. It is the most popular ember keyboard addon.

Being someone using this for the first time, the interface in which to use this is very verbose. And boilerplate.

I takes 3 imports per file

[code]

I have to extend with the mixin in every file

[code]

I have to initialize the addon in every file

[code]

[2017-11-11 20:07] buschtoens commented on #73
The `keyUp` and `EKMixin` can be merged, so one line less. The `keyboardActivated` bit is a bit tedious, that's true.

We should have a different mixin for that, like `EKOnInsertMixin`.

Regarding the "unconventional syntax": what do you find unconventional about that? All event listeners in Ember work that way.

You might also use the `@on` decorator from ember-decorators, which makes for quite s

[2017-11-12 03:04] optikalefx commented on #73
Good call on importing both items.
What circumstance would exist where you would not want to do the `this.set('keyboardActivated', true);` step?

The @on syntax would be good, but it doesn't seem to work.

`import { on } from 'ember-decorators/object';`

[code]

Throws `ember-metal.js:3988 TypeError: (0 , _object.on) is not a function`

[2017-11-12 03:15] optikalefx commented on #73
My mistake, it's `import { on } from 'ember-decorators/object/evented'`
So you still need an additional import for that.

I guess my preferred interaction with this library would not be events, but actions. You would register your keys with an action name. And that action would get called. That makes the most ember since to me. Maybe it's just the kinds of apps that I build, but I almost never use

[2017-11-12 12:28] buschtoens commented on #73
Trying to circumvent a feature / import only for saving a LOC doesn't make a lot of sense to me. I've you've ever written an app in Java or C++ you'll be no stranger to over 50 lines of only imports.

But when you're writing codes in these languages, imports are usually automatically added / removed by the IDE. We don't have this in Ember *yet*, but I think, we're not so far away from that brighte

[2017-11-12 13:02] optikalefx commented on #73
Yea not anything pre-defined like that. It would be something like

[code]

And then `someAction` in this controller or component would get fired. I don't think I like this more than the `on` method though. I think I like your event method better after writing both out.

The only thing really after going through some scenarios that feels out of place, is the init activation.  If I'm pulling in tha

[2017-11-12 15:28] patience-tema-baron commented on #73
Thanks for getting to this, @buschtoens!

@optikalefx, if you can find a way to simplify the interface for `ember-keyboard`, that would totally warrant a `3.0`. Please let us know anything you think of!

As for activating the keyboard, there are a few cases where you wouldn't want to do that on `init` or `didInsertElement`. For instance, let's say you have comment form and you want to submit on `E

[2017-11-13 00:15] optikalefx commented on #73
Thanks @patience-tema-baron I will look into creating a mixin for controllers. If I have a chance to look into an alternate interface, I'll post that for everyone to discuss.

[2017-11-13 00:35] optikalefx commented on #73
I've submitted a PR for the onInit mixin https://github.com/patience-tema-baron/ember-keyboard/pull/74

[2017-11-14 14:07] optikalefx opened #75 "alt has odd behavior"
using this code

[code]

never fires.

Using `@on(keyUp('alt+KeyS'))`

Fires, randomly. I hit the key combo 10 times once a second and this was the result.

![image](https://user-images.githubusercontent.com/926885/32783636-6b2a1fba-c91a-11e7-9a7f-5fd6c2442541.png)

if I use `@on(keyUp('KeyS'))` .
It works perfectly with no issues.

Here is a twiddle with just 'alt' which doesn't fire at all in co

[2017-11-14 18:31] patience-tema-baron commented on #75
If you want alt to fire on its own, you should use `AltLeft`. The modifier keys (`+alt`, `+cmd`, `+shift`, etc) don't reference specific keys (such as `ShiftLeft` or `ShiftRight`), but instead will activate when _any_ shift key is held down.

As for the spotty pickup of `alt+KeyS`, are you holding `alt` down the whole time, or releasing them simultaneously? Is it's simultaneous, it's likely a timi

[2017-11-14 18:52] optikalefx commented on #75
Super interesting. So I was releasing both at the same time. Which is the problem. If I hold alt the whole time and just keep tapping `s` then it's fine.

I wonder if that's correct. I watched 5 people just now hit a similar thing, `cmd + c` for copy, And everyone did the release bit. What would it take to implement such a thing?

[2017-11-14 21:25] patience-tema-baron commented on #75
Right now we determine if a modifier key is being held by looking at the [key event](https://github.com/patience-tema-baron/ember-keyboard/blob/164b6f5b9654660af403bc69a29589796ff077a7/addon/utils/handle-key-event.js#L16). This is simply utilizing a native feature of the browser. If we wanted to see if a key has been released in the last few milliseconds, then we'd have to keep a log of what keys

[2018-01-04 08:27] mike-north opened #77 "[ember-3] `priorityLevels` is undefined"
Possibly due to interactions between proxies, a computed property, and `Ember.get`, `priorityLevels` ends up being undefined when this addon is used in `ember@3.0.0-beta+4c958f73`.

<img width="619" alt="screen shot 2018-01-04 at 12 22 29 am" src="https://user-images.githubusercontent.com/558005/34555293-c925fa06-f0e5-11e7-983a-cd0b5627c5b4.png">

This should be easy to reproduce, by injecting the

[2018-01-04 19:04] patience-tema-baron commented on #77
Hi Mike! I tried reproducing this bug on the latest version of `ember-keyboard` using `ember-source@3.0.0-beta.1`, and everything was working fine on my components. If you haven't already, would you see if you can reproduce this on the latest version of `ember-keyboard` with your codebase? As it turns out, the `keyboard` service has been updated significantly, and there isn't even an `activate` fu

[2018-01-15 22:57] dfreeman opened #78 "Breaks search autofocus in ember-power-select (and likely other global handlers)"
Without a changelog it's a little difficult to tell what the history is behind this, but it [this commit](https://github.com/patience-tema-baron/ember-keyboard/commit/164b6f5b9654660af403bc69a29589796ff077a7) (specifically [this line](https://github.com/patience-tema-baron/ember-keyboard/commit/164b6f5b9654660af403bc69a29589796ff077a7#diff-b458580c7e4a3f727645c67b9e4906c6R49)) seems to be impactin

[2018-01-15 23:51] patience-tema-baron commented on #78
Sorry this took a good chunk of you afternoon, @dfreeman. I appreciate you putting together a demo of the issue though. I'll look into it first thing tomorrow.

As for why `ember-keyboard` is handling mouse and touch events, that's because this addon isn't simply responding to key events, but managing which components will respond when a key event occurs. There are cases where the dev will want mo

[2018-01-16 15:51] patience-tema-baron commented on #78
The issue should be resolved on `v3.0.0`. Since the issue was happening with a jQuery listener, this seemed like a good time to remove jQuery and use vanilla listeners instead, as part of the broader "make jQuery optional" push. Since this means that the keyboard events will no longer be jQuery events, this could be a breaking change for some devs, ergo the major release.

I also made the mouse/to

[2018-01-16 15:51] #78 closed

[2018-01-16 17:52] dfreeman commented on #78
@patience-tema-baron Thanks so much for the quick turnaround here, and for all your work on this addon! Definitely interested to try out the mouse/touch events in the future 🙂

[2018-01-16 18:04] patience-tema-baron commented on #78
Of course! And thanks for your own contributions throughout the Ember community.

[2018-01-22 22:02] dehuszar opened #79 "The documented Ember.on([keyCommand]) is now in violation of ember-cli-eslint recommendations"
Hi there,

Nothing super urgent, but I've noticed that ember-cli-eslint is producing warnings about using the `.on()` syntax.  I was able to create a comment disabling it in my component, (`/* eslint ember/no-on-calls-in-components: "off" */` if anyone is curious) but I wonder whether there is an alternate syntax proposed that would not set off the linter?

[2018-01-31 19:09] patience-tema-baron commented on #79
That's a good question. As far as I can tell, this warning is only to discourage us from using `on` when a lifecycle hook could be used instead, such as with `on('didInsertElement')`. There aren't plans to deprecate the use of `Ember.Evented` inside of components or anything like that, which means the current syntax doesn't _need_ to change in the immediate future. That being said, if we can come

[2018-02-06 12:42] buschtoens opened #80 "NumpadEnter"
Presumably the switch from jQuery to native events bricked the `NumpadEnter` key.

Previously `keyDown('Enter')` captured both, the regular `Enter` and the `NumpadEnter`.

[2018-02-09 20:19] xtagon opened #81 "Upgrading to 3.0.0 - no change log?"
Hi,

My app currently uses 2.3.0 and I noticed 3.0.0 is available, but I cannot find a CHANGELOG or HISTORY or NEWS file. Is there such a changelog? Is there any documentation on major changes or backwards compatible changes required for a major version update?

Thanks

[2018-02-10 02:49] patience-tema-baron commented on #81
Hi! You might be looking for [this](https://github.com/patience-tema-baron/ember-keyboard/releases). Odds are, you'll be safe to upgrade.

[2018-02-10 03:08] patience-tema-baron commented on #80
Thanks for reporting, @buschtoens. I've confirmed that the behavior changed from `2.3.0` -> `3.0.0`, though I'm at a loss for what exactly caused the change. My first thought was that jQuery had creating some sort of abstract `Enter`, but a cursory search through its codebase isn't turning up anything like that.

My thoughts are that we should let it be, rather than creating some abstract `Enter`

[2018-02-10 03:18] xtagon commented on #81
That's just what I was looking for - sorry I didn't think to check the releases. Thank you! 👍

[2018-02-10 03:18] #81 closed

[2018-03-20 22:03] FalkF opened #82 "keyDown() recieves two events"
Using ```keyDown()``` without keystring, when a checkbox is focused results in two events being fired.
A ```KeyboardEvent``` is fired first followed by a ```jQuery.Event``` wrapping the previous one.

```{{input}}``` focused:
- fires only the jQuery.Event

```{{input type="checkbox"}}``` focused:
- fires two events

[2018-03-21 20:29] FalkF commented on #82
```keyDown: Ember.on(keyDown(), function(event) { ...``` :disappointed:

[2018-03-22 14:21] karellm commented on #79
There seems to be interest for a PR in the linter project in the event one of you want to fix it. See here: https://github.com/ember-cli/eslint-plugin-ember/issues/223

[2018-03-22 15:08] NoodleSkadoodle commented on #80
@patience-tema-baron  Seperating Enter and NumpadEnter is fine, but right now using NumpadEnter also outputs the following in console:

https://github.com/patience-tema-baron/ember-keyboard/blob/e470114be9b70a3b20caa3547004776604c2b748/addon/listeners/key-events.js#L12 , NumpadEnter is not in validKeys. It still functions, but is rather confusing.

[2018-03-22 16:56] patience-tema-baron commented on #80
Thanks for the update, @NoodleSkadoodle. I'll have a fix out this weekend.

[2018-03-24 16:01] patience-tema-baron commented on #80
Fixed in `v3.0.2`. Thanks, @NoodleSkadoodle

[2018-03-24 16:01] #80 closed

[2018-04-20 20:47] ajpocus opened #83 "ctrl+alt+KeyO works on Mac and Linux, but not Windows"
The title pretty much says it all -- I have a keyDown handler, for `ctrl+alt+KeyO`, that works on Mac and Linux, but not Windows. Am I using the wrong key names? I can't seem to find the reference I had for the different key names and how to format them (e.g. "o" vs. "KeyO"). Any help would be very much appreciated. Thanks for your time, and for the awesome library! Please let me know if you need

[2018-04-20 21:48] buschtoens commented on #83
Pretty sure that this is a general issue with Windows. I think Ctrl+Alt key bindings are caught by Windows itself. I had the same problem, not with o but arrow keys. I might be spreading FUD though.

[2018-04-21 21:47] ajpocus commented on #83
Thanks for your comment @buschtoens! It's good to hear someone else had this problem. I'm curious whether there's a workaround... I've used apps that captured ctrl / alt keypresses, so now I'm curious how they did it.

[2018-05-02 22:17] andrewcallahan commented on #79
@patience-tema-baron looks like `Ember.Evented` is officially about to be [deprecated](https://github.com/emberjs/rfcs/blob/5a1e8cddd3c1a210c2d60c7a9ac021dbfbedc370/text/1234-deprecated-ember-evented-in-ember-data.md)

[2018-05-02 22:37] btecu commented on #79
@andrewcallahan that's in Ember Data. Is it there an RFC for Ember as well?

[2018-05-02 23:47] andrewcallahan commented on #79
good catch @patience-tema-baron! I haven't seen one, but due to the new linting rules in `ember-cli-eslint` and this new depreciation in Ember Data, I'd guess we'd eventually see a depreciation for Ember at some point as well.

[2018-06-28 13:35] Turbo87 commented on #79
@andrewcallahan those things are unrelated to each other. the lint rule is indeed "broken" in the sense that it creates false positives and should be fixed. I don't see any immediate need for `ember-keyboard` to change its API though.

[2018-06-28 13:38] Turbo87 commented on #75
FWIW it seems that `AltLeft` also doesn't work quite as expected.

[code]

for the snippet above when I press the Alt key, I get six console logs when I release the key again, and they all show `false`. I would expect there to be preferably one output with `true` when pressed, and `false` when released.

[2018-08-07 15:59] cbou opened #84 "Z and Y are inverted for QWERTZ Keyboard"
When I switch the layout of my keyboard to QWERTZ then `keyY` event will still fired when I press the letter next to the `T` (Z according to the new layout).

It's seems that `event.code` is still `keyY` even if the layer is QWERTZ.

`event.key` is correct and returns `z`.

https://stackoverflow.com/questions/51726455/keyboardevent-event-key-and-event-code-are-different

[2018-08-13 01:54] patience-tema-baron commented on #84
Hi @chou, I've been thinking about this over the week, and there's a way we could implement support for both `key` and `code`. If you're interested in tackling the issue, I'd be happy to point you towards the solution. Otherwise, I'll get to this as soon as I can, which will probably be in a couple of weeks. Sorry for the delay, but we're launching a new product at the end of the month and it's ea

[2018-08-13 10:59] NullVoxPopuli commented on #60
I'm having all sorts of issues with linux + chrome.

- `ctrl+KeyK` focuses the address bar
- `ctrl+KeyB` I assume try to bold text, but can't
- `ctrl+KeyA` works, but also still selects everything
![image](https://user-images.githubusercontent.com/199018/44027809-ca5231f4-9ec5-11e8-8aa7-2cbb13e59ce8.png)
- `ctrl+Slash` selects everything and doesn't fire my action
- `ctrl+KeyH` opens History
- `ct

[2018-08-13 19:06] cbou commented on #84
Hello @patience-tema-baron Thanks for your answer!

Yes please feel free to tell me your solution. If I have time I will do it.
Why do you actually would like to use both?

[2018-08-14 14:00] cbou commented on #84
What about that simple fix: https://github.com/patience-tema-baron/ember-keyboard/pull/85 ?

[2018-09-01 20:56] NullVoxPopuli opened #89 "What are the use cases for having all the different respond configurations and priority levels?"
j/w, as removing that stuff would clean up the code a ton, and I'm just not sure what those settings would be used for.

[2018-09-01 20:57] NullVoxPopuli commented on #89
so, at least, in the `_respond` method, I _have_ to preventDefault / stopPropagation before the runloop invocation in order to intercept certain keycodes from reaching the browser. I think this should be default :-\

[2018-09-01 21:00] NullVoxPopuli commented on #89
I thought about this:
![image](https://user-images.githubusercontent.com/199018/44949881-7c1c4900-ae08-11e8-89f1-65c51dabbae1.png)
But this breaks some of the existing tests. :-\ so. idk.

[2018-09-01 21:46] NullVoxPopuli commented on #89
http://patience-tema-baron.github.io/ember-keyboard/#/priority
I think I understand now.

[2018-09-01 21:46] #89 closed

[2018-09-01 21:48] NullVoxPopuli opened #90 "Need a way to intercept shortcuts that would be sent to the browser"
for example, Ctrl+K in chrome jumps to the address bar.
However, in the keyboard service, in the `_respond(event)` method, if I call `event.stopPropagation()`, I can wire up my own Ctrl+K.

Currently, I'm trying to figure out how to make this work without breaking half the tests :)

[2018-09-01 21:59] NullVoxPopuli commented on #90
Figured it out:
![image](https://user-images.githubusercontent.com/199018/44950235-a8d45e80-ae10-11e8-8298-6c5d4ab47b17.png)

But this was only possible after solving key-mapping issue in #88

[2018-09-01 23:08] #90 closed

[2018-11-08 06:58] Willibaur commented on #79
Thanks to the guys from EmberMap we can use the following markup

Inside your component, use the J key to navigate

[code]
Then you can pass actions up by doing

[code]

Now you can handle `your action` in your controller.

Please do check full video [here](https://embermap.com/video/declarative-keyboard-navigation)

[2018-11-08 15:44] andrewcallahan commented on #79
Excellent!

[2019-01-21 18:41] oskarrough opened #92 "event.key and code confusion"
Hi, I'm trying to create a keyboard shortcut for the `/` (Slash) key.

With US language settings on an US keyboard, `keyDown('Slash')` is all that is needed.
But if I change to, for example, German language on the same keyboard, it doesn't.

This is, as I understand, because of the difference between `event.key` and `event.code`.
Where one represents the physical key's location while the other is

[2019-01-28 19:33] optikalefx opened #93 "alt doesn't work at all (mac) when upgrading from v3 to v4"
On mac chrome, I upgraded from 3.0 to 4.0 and alt no longer works. In any configuration. Either AltLeft, alt or AltRight. It works just fine with any other key and any other modifier.

[2019-02-04 21:54] pixelmatrix opened #95 "Deprecation warning: @each"
https://github.com/patience-tema-baron/ember-keyboard/blob/d78de0b27e1d7dcefef20e141991d72d716997cb/addon/services/keyboard.js#L33

We're getting a deprecation warning in the latest versions of Ember 3 due to the line above. Any chance this package could be updated to stay compatible? https://deprecations-app-prod.herokuapp.com/deprecations/v3.x/#toc_getting-the-each-property

[2019-05-17 18:11] NullVoxPopuli opened #96 "How are we going to use this with glimmer components?"
With `@ember/component`, we can use native classes using this technique: https://github.com/NullVoxPopuli/emberclear/blob/6782c452cb7643ce6f13a5d5eecab4536fc1f339/packages/frontend/src/ui/components/keyboard-press/component.ts#L4

but what about `@glimmer/component`? glimmer components don't extend from `@ember/object` and therefore don't have .extend/mixin functionality.

So, that may mean that w

[2019-05-17 18:23] locks commented on #96
They also do not have `this.on` available.

[2019-05-21 16:59] MelSumner opened #97 "Accessibility info is missing from README"
In order to ensure that well-meaning Ember developers do not override keyboard shortcuts that are already in use by screen readers and other assistive technology, please add a notice about keyboard shortcuts and gestures to the README.

It could be something like this:

## Accessibility Considerations
In order to avoid adding keyboard shortcuts to your application that are already in use by assist

[2019-05-22 17:15] patience-tema-baron commented on #97
This is really helpful! If you want to make a quick pr w/ that change, I'd be happy to merge.

[2019-05-24 17:21] MelSumner commented on #97
Thank you @patience-tema-baron! PR here: https://github.com/patience-tema-baron/ember-keyboard/pull/98

[2019-05-24 17:59] patience-tema-baron commented on #97
Thank you so much!!

[2019-05-24 17:59] #97 closed

[2019-05-28 15:20] Emerson opened #99 "Incorrect Documentation Around Test Helpers"
Howdy,

Firstly, thanks for this awesome library, it's been really nice to use. In the process of trying to upgrade and running into a problem.

After trying to upgrade to `4.x` I'm not able to run my acceptance tests anymore. In the [documentation](http://patience-tema-baron.github.io/ember-keyboard/#/testing) it mentions that we need to import:

[code]

But that module does not appear to exist.

[2019-06-07 14:58] buschtoens commented on #96
I'd personally probably also prefer decorators. But thanks to @rwjblue I am trying to shift my mental model more towards template helpers and modifiers, since not the backing JS class is the driver of the program, but the template is.

I would use a modifier when it is important, that the element has focus / the focus is contained inside the element, when the keyboard event is dispatched.

For "gl

[2019-06-11 13:38] bitwolfe commented on #93
I just ran into this issue as well, also on a Mac Chrome. No special keymap in use, just default. No Alt combinations work.

Going back to v3 makes Alt work again.

[2019-09-03 10:51] ngouy opened #100 "documentation links leads to 404"
http://patience-tema-baron.github.io/ember-keyboard/

[2019-09-07 08:50] hugurp commented on #100
This repo's owner seems to have changed github username, breaking this addons' docs URL.

http://briarsweetbriar.github.io/ember-keyboard/

[2019-09-10 00:03] briarsweetbriar commented on #100
Just fixed this. Thanks for letting me know!

[2019-09-10 00:03] #100 closed

[2019-09-10 00:13] briarsweetbriar opened #101 "New Maintainer?"
Is anyone interested in taking over this project? Unfortunately, I don't have the time to maintain it any longer.

[2019-09-10 06:35] buschtoens commented on #101
Thanks for all the effort you have put into it!

You may want to consider transferring the repo to the [`adopted-ember-addons` organization](https://github.com/adopted-ember-addons/program-guidelines).

[2020-01-15 13:55] snewcomer commented on #101
Yes this sounds like a great idea for a great addon!

[2020-03-26 18:46] lukemelia commented on #96
FYI added some ways to use this from templates here: https://github.com/briarsweetbriar/ember-keyboard/pull/111

[2020-03-27 07:21] lukemelia commented on #101
@briarsweetbriar I'd be happy to take over and to shepherd it into the adopted-ember-addons org

[2020-03-27 23:56] briarsweetbriar commented on #101
@lukemelia thanks for the offer, luke. i'll set aside some time this weekend to do it myself, but if it turns out to be a bigger process than that, than i might ask you to help after all.

[2020-04-03 07:31] lukemelia commented on #95
This will be addressed by #111

[2020-04-21 14:21] lukemelia commented on #101
The transition to the adopted-ember-addons org has been completed. Thank you for your stewardship of the project over the years, @briarsweetbriar.

[2020-04-21 14:21] #101 closed

[2020-04-21 14:33] lukemelia commented on #79
#111 promotes a version of this component to part of this addon's public API and adds a couple of element modifiers to help as well.

[2020-04-21 14:36] lukemelia commented on #57
Closing due to inactivity. Feel free to re-open.

[2020-04-21 14:36] #57 closed

[2020-04-21 14:40] lukemelia opened #114 "Improve documentation on how to use within a route"
Quick version: set `keyboardActivated` to `true` in the route's `activate` hook and to `false` in the `deactivate` hook.

See #52 for some more discussion.

[2020-04-21 14:40] lukemelia commented on #52
Closing in favor of #114

[2020-04-21 14:40] #52 closed

[2020-04-21 14:59] lukemelia opened #115 "New Non-Mixin API for using in routes and controllers"
Perhaps we should consider something decorator-based?

[2020-04-21 15:01] lukemelia opened #116 "Release plan"
Concurrent with this project becoming part of the adopted-ember-addons org, I've volunteered to help do some of the maintainership. My number one goal is to help the addon catch up to modern Ember APIs so users have an upgrade path when migrating their apps to octane. Here's a proposed roadmap to get us there:

* 5.0.0 - current stable version
* 6.0.0.beta.0 * Released ✅
  - Drop support for Ember

[2020-04-25 17:27] lukemelia commented on #96
#111 has been merged and will be released in v6.0.0

[2020-04-25 17:27] #96 closed

[2020-04-25 17:28] lukemelia commented on #79
#111 has been merged and will be released in v6.0.0

[2020-04-25 17:28] #79 closed

[2020-04-25 17:28] lukemelia commented on #95
#111 has been merged and will be released in v6.0.0

[2020-04-25 17:28] #95 closed

[2020-04-25 17:29] lukemelia commented on #77
Closing for inactivity. Feel free to reopen if this is still an issue. 😄

[2020-04-25 17:29] #77 closed

[2020-04-26 16:24] lukemelia commented on #71
I added an example to our tests in #119. `shift+Slash` is the way to go.

[2020-04-26 16:24] #71 closed

[2020-04-26 17:06] lukemelia commented on #92
@oskarrough Great question. This addon is currently based on `code`. As far as I know, there is no easy way to bind to the `key` of an event. I would be open to exploring an API to support declaring shortcuts based on `key` if anyone wants to tackle this.

[2020-04-26 17:20] lukemelia commented on #99
Thanks for flagging this @Emerson. I updated the docs in #120

[2020-04-26 17:23] lukemelia opened #121 "Review and improve Testing documentation"
Currently the testing docs (https://github.com/adopted-ember-addons/ember-keyboard/blob/master/tests/dummy/app/templates/testing.hbs) describe using a different set of helper methods for integration tests vs. acceptance tests. This may not be true any longer since Ember has unified these APIs. Someone needs to do some tests and research and update this page.

[2020-04-26 17:25] lukemelia commented on #73
Closing this since it was somewhat addressed by #74. I think there is room for improvement and a need to develop and non-mixin based API. Ideas for this can be discussed in #115

[2020-04-26 17:25] #73 closed

[2020-04-26 17:27] lukemelia commented on #54
Closing for inactivity. If anyone wants to pursue either a) documenting the approach that @samselikoff shared, or b) adding an API and support for keyboard sequences, please open a new issue/PR or get in touch.

[2020-04-26 17:27] #54 closed

[2020-04-27 03:10] #99 closed

[2020-04-27 04:42] lukemelia commented on #93
Confirmed bug. Reproduced with a failing test in #122

[2020-04-27 14:06] optikalefx commented on #93
This is fixed by my PR #117

[2020-04-28 16:33] lukemelia opened #123 "Use ember-addon-docs or similar to provide versioned documentation"

[2020-04-30 14:57] lukemelia commented on #115
This will likely end up being discussed in #135

[2020-05-24 08:57] lukemelia opened #164 "Deprecate and then remove old propagation model"
#63 introduced a new way to handle propagation and it was opt-in for compatibility reasons.

We should consolidate back to a single approach by:

- [ ] Add a deprecation warning for when the service's `isPropagationEnabled` is false and update the docs
- [ ] In the next major version, remove the flag and now-unused code.

[2020-05-24 08:58] lukemelia commented on #92
We're going to try to resolve this via #135

[2020-05-31 19:09] lukemelia opened #176 "Improve documentation presentation"
Improved readability. Better example formatting and code highlighting.

[2020-06-02 08:53] lukemelia commented on #115
Now implemented in #135

[2020-06-03 03:24] #176 closed

[2020-06-04 04:58] lukemelia commented on #75
Closing for lack of activity. It would great to review master for unexpected behavior around these topics as we've changed the key matching logic substantially.

[2020-06-04 04:58] #75 closed

[2020-06-04 05:00] lukemelia commented on #92
Should now be resolved by #135, which includes tests for the specific cases cited in this issue.

[2020-06-04 05:00] #92 closed

[2020-06-04 05:00] lukemelia commented on #93
Fixed by #135

[2020-06-04 05:00] #93 closed

[2020-06-04 05:01] lukemelia commented on #115
Decorator API that will should work fine with routes and controllers was added in #135

[2020-06-04 05:01] #115 closed

[2020-06-16 09:52] Wolfr opened #194 "Depreciation error with simple keyboard shortcut implementation"
I implemtented two simple keyboard shortcuts in my app:

[code]

This toggles something:

[code]

However, I get a long depreciation [stack trace](https://gist.github.com/Wolfr/cdaa8acc78ab9ff5a1c908b1e6c761a6) . I think I used the latest syntax as documented [here](http://adopted-ember-addons.github.io/ember-keyboard/usage).

Would anyone have an idea why I am getting this stack trace? I loved th

[2020-06-16 13:10] lukemelia commented on #194
Hi @Wolfr, I'm glad you're enjoying the addon! The deprecation warning you're getting is documented on the deprecations page: http://adopted-ember-addons.github.io/ember-keyboard/deprecations (see the initializer section at the bottom). I've pasted the relevant portion here:

### ember-keyboard-first-responder-inputs initializer

ember-keyboard includes an initializer that reopens ember's TextArea

[2020-06-16 13:44] Wolfr commented on #194
Excuse my ignorance, but if I put this in `environment.js` it complains about `emberKeyboard` not being found, would I then import `emberKeyboard` somehow? I don't understand the relation between an Ember addon and the initialisation I think.

If I try `import emberKeyboard from 'ember-keyboard'` I get `Cannot use import statement outside a module`.

I tried to add the code on L28 [similar to this

[2020-06-16 13:45] lukemelia commented on #194
@Wolfr The change should look like this: https://github.com/rust-lang/crates.io/pull/2563/files#diff-695693c5dabaffb064bde5b060195ff7

[2020-07-22 18:17] st-h opened #212 "How to use v6 modifiers version to not trigger when textarea is focused?"
I am using this addon to allow to use the space bar to stop and start playback of an audio file. When an input/textarea/contenteditable is focused, the event should not be handled by `ember-keyboard`, as every space key would stop or start audio playback.

I thought I was able to migrate to the new version without issue, but I just noticed that I am having issues with textareas.

To sum it up shor

[2020-07-27 08:00] lukemelia commented on #212
Hi @st-h, I'm happy to look into this and I appreciate the repro repo. However, I cloned the repo and it seems to be a new empty ember app. Maybe you missed committing something?

[2020-07-27 09:26] st-h commented on #212
@lukemelia sorry. Yes, that was the case. Should be fine now.

I also tried to call stopPropagation etc on the keyup event of the textfield, but that seems to be triggered after ember-keyboard has received the event. Probably that could be worked around with the priorities, but at that point I stopped to look into it further - because having to intercept all events of all input elements would be t

[2020-07-27 10:41] lukemelia commented on #212
Thanks, @st-h. The repo made it a lot easier to consider. My thoughts:

* In previous versions of ember-keyboard, an initializer was mixed into Ember.Textarea to make it a "firstResponder" when focused. It did not have any effect if you were using regular HTML <textarea></textarea> directly.
* The equivalent of this using the `on-keyboard` modifier with a regular textarea is

[code]

The `on-key`

[2020-07-27 12:28] st-h commented on #212
@lukemelia Thanks for the explanation. The things that tripped me were, that in a few places it is mentioned that native input and textarea elements should be used and that the initialiser is no longer needed. It made the impression that we can now replace embers input helpers with native elements and ember-keyboard would continue its previous behaviour.

I would really like to see this behaviour

[2020-07-27 12:43] lukemelia commented on #212
@st-h All makes sense. Would you be up for creating a documentation PR to try to improve the clarity for future people in your situation?

I'll give some further thought to how to create an automatic solution that works with native elements. I'm open to ideas from you or others reading this issue, too.

[2020-08-19 18:04] joegaudet opened #231 "Using the on-key modifier in a list, binds to all list items."
Hey,

Love the on-key modifier, however when using it in a list I observe the following:

[code]

When I focus the list item and hit enter, I see an alert triggered for each of the items.

Any guidance on this?

[2020-08-19 19:31] joegaudet commented on #231
The solution for now appears to be this:

[code]

Not super ideal, seems like the default behavior for this modifier would be to work on focused items.

[2020-08-20 15:49] lukemelia commented on #231
I had a good chat with @joegaudet on Discord. He is going to work on a PR to make `onlyWhenFocused` default to true when the modifier is on an element with a tabindex that makes it focusable. This will be a breaking change and will be part of a 7.0 release.

[2020-08-20 16:06] lukemelia commented on #231
The above plan was scrapped because `button` elements have a default tabindex of 0, so the contemplated change would break the common button keyboard shortcut use case.

[2020-08-24 11:41] lukemelia commented on #231
The resolution on this for the time being is for @joegaudet to experiment with subclassing OnKeyModifier in his app to have a modifier that has the defaults his app commonly needs.

[2020-09-09 08:44] toovy opened #253 "ES6 @keyResponder decorator fails with parameters"
Hi,

I'm having issues with a fresh 3.20.0 project. Using the @keyResponder decorator without parameters works, e.g.

[code]

Making a simple change like adding the parenthesis, or event adding the priority option leads to an error:

[code]

[code]

There seems to be a difference on how the class decorator is called. When no parenthesis or options are added the call to the decorator declared in ht

[2020-09-29 14:18] urbany commented on #253
Also found this bug today

[2020-09-29 14:20] urbany commented on #253
Also found this bug today, would you mind transforming that fix into a PR? Thank in advance!

[2020-09-29 14:31] lukemelia commented on #253
I'd be happy to review a PR and fast-track a patch release. We will need to make sure that a) we have tests for both variations, and b) tests are running in CI under Ember 3.20.x.

[2020-10-21 09:15] marcoow opened #280 "Cannot listen to "+" key"
It is not currently possible to listen to the `+` key. That's because that key is used to combine other keys and

[code]

will not actually end up matching **any** key and return an empty listener because of [how `KeyboardListener.parse` works](https://github.com/adopted-ember-addons/ember-keyboard/blob/master/addon/utils/keyboard-listener.js#L22). There also doesn't seem to be a code value for th

[2020-10-26 13:03] btecu opened #283 "Doesn't work in IE"
On release `6.0.1`, using the helper version:
[code]

When pressing any key, it throws an error:
[code]

[2020-10-28 05:50] lukemelia commented on #283
@btecu ember-keyboard 6 drops support for IE. I'll make sure this gets documented in the README.

[2020-10-28 06:39] lukemelia commented on #283
Updated README in #285

[2020-10-28 06:39] #283 closed

[2020-10-28 06:39] #280 closed

[2020-10-30 16:27] optikalefx commented on #194
question: I'm using `keyResponder`  and still getting this deprecation. Should I not be using keyResponder either? Thanks!

[2020-10-30 16:37] lukemelia commented on #194
@optikalefx no deprecation should not be triggered by using keyResponder. Did you configure your config/environment.js file ([like this](https://github.com/rust-lang/crates.io/pull/2563/files#diff-9764cd8b6365b92786ac2e7eecab5e31a51193664db8931af01778ab9d0fa76c))?

[2020-10-30 16:57] optikalefx commented on #194
@lukemelia that was it! missed that detail. Thanks for the fast response.

[2020-11-06 13:36] st-h commented on #212
@lukemelia I was looking into this again today, as I was trying to introduce native inputs to our app and quickly noticed that this would cause issues with v5.

I think we can solve this issue by checking the event target - possibly in `service::keyboard::_respond(event)` (probably you know of a more suitable location).

Now if `event.target.tagName == 'INPUT'` then we should not process the event

[2020-11-06 16:09] st-h commented on #212
@lukemelia I just tested an augmented version of the `_respond()` method:
[code]
Which seems to work quite fine. I just couldn't figure out why there is no `getAttribute` method on `event.target` when running tests.

Does this look like a viable approach to you? If you so, I'll happily submit a PR. What do you think about making it configurable? Probably we could even add a modifier, which can be

[2020-11-09 10:22] lukemelia commented on #212
@st-h I think this approach has potential, but in cases where an `{{on-key ...}}` modifier has been placed on the input/textarea/contenteditable, I think we should respect the modifier rather than ignoring events. Real-world example: a user wants to bind the Enter key to an action when the input field is focused.

[2020-11-09 18:46] st-h commented on #212
@lukemelia I think this sounds like the right solution. Do not use events from any input elements, unless there is an `{{on-key}}` modifier applied to it. Makes perfect sense. I'll try to find some time to add this to my code and submit a PR. I have been using the code above for a few days now and haven't come across any issues so far.

[2020-11-10 10:49] lukemelia commented on #212
@st-h sounds good. please make this change opt-in as well, so that we can release it without cutting a major version.

[2020-11-10 10:54] st-h commented on #212
I think this will cause a lot less confusion if it is opt-out and come with a major release. But is there even a good reason/practical use case to opt out of that behaviour? I can only think of someone wanting to intercept ALL the input fields within their app, which seems quite ridiculous to me (and there are much better ways to achieve something like that). Additionally making it not opt in woul

[2020-11-10 11:46] lukemelia commented on #212
The smoothest upgrade path would be to release it as opt-in with a minor
version, and include a deprecation warning until the user explicitly opts
in or opts out. Then the next major can flip the default and remove the
deprecation warning.

On Tue, Nov 10, 2020 at 6:54 PM Steve <notifications@github.com> wrote:

[2020-12-06 18:50] st-h commented on #212
@lukemelia sorry, I've been very short on time. Every time I find a bit of time, I find myself looking at the tests trying to figure out a good place where to add a test, so I can implement the missing details (not yet sure how it would be possible to detect if the element has a modifier applied). Could you please suggest which test would be a good one to test that functionality?

[2021-01-29 23:09] ozywuli commented on #56
Why is this an issue? I'm trying to migrate away from https://github.com/Skalar/ember-keyboard-shortcuts but there are some keyboard event combos like `alt+e` that work with ember-keyboard-shortcuts but not with this addon.

[2021-02-01 08:48] lukemelia commented on #56
@ozywuli You can try adding entries to the test here: https://github.com/adopted-ember-addons/ember-keyboard/blob/master/tests/unit/utils/is-key-test.js. If a particular shortcut works in other libraries, it ought to be possible to come up with a way to make it work here -- we're using modern DOM keyboard events.

[2021-02-10 10:32] fpauser opened #349 "Multiple deprecations"
Multiple deprecations popping up when using ember-keyboard:

[code]

[code]

[code]

Environment
[code]

[2021-02-10 11:13] fpauser commented on #349
Followed http://adopted-ember-addons.github.io/ember-keyboard/deprecations to fix this

[2021-02-10 11:13] #349 closed

[2021-03-07 15:13] st-h commented on #212
I hate to say it, but the current behaviour also is an issue with scrollable elements. Binding space bar to ember-keyboard and having a scrollable element focused leads to both scrolling and ember-keyboard being triggered simultaneously.

[2021-05-24 23:55] akankshadharkar opened #410 "Numerous deprecation warnings and {{on-key "shift+ any"}} not working on Mac"
<img width="838" alt="Screen Shot 2021-05-24 at 4 54 46 PM" src="https://user-images.githubusercontent.com/12375430/119420205-c298ec80-bcb0-11eb-8afe-55a4efcb2f6e.png">

[2021-05-28 06:41] #253 closed

[2021-05-28 06:54] lukemelia commented on #56
Closing for inactivity

[2021-05-28 06:54] #56 closed

[2021-05-28 06:55] lukemelia commented on #60
Closing for inactivity.

[2021-05-28 06:55] #60 closed

[2021-07-12 15:16] chrism commented on #194
Hi – I wanted to check I have missed something because am still getting a couple of deprecations after adding this to my config ENV...

[code]

I'm using `v3.27.0` of Ember and `v6.0.3` of Ember Keyboard.

It removed a bunch of deprecations, but I still get these two...

<img width="1395" alt="Screenshot 2021-07-12 at 17 14 26" src="https://user-images.githubusercontent.com/35488/125312540-a7ec070

[2021-08-19 10:31] bjornharrtell opened #451 "keyResponder wrapped classic components missing component arguments"
We've been trying to upgrade to 6.x with the method described at http://adopted-ember-addons.github.io/ember-keyboard/deprecations but we get an unexpected problem in that component arguments becomes undefined. I've made a reproduction repository at https://github.com/bjornharrtell/ek-repro and the problem is specifically noted here:

https://github.com/bjornharrtell/ek-repro/blob/4f01de4646ec3854

[2021-09-21 18:11] simonihmig opened #464 "Provide TypeScript types"
Would be great if the addon would ship with its own `index.d.ts` types! 😀

[2021-11-14 22:46] gilest opened #491 "Imports components removed in Ember Beta and Canary"
In `ember-keyboard-first-responder-inputs.js`:

[code]

Looks like these components were removed from `ember-source` in [this commit](https://github.com/emberjs/ember.js/commit/5d24ae7480aae886d7a526d15332f53fe5b1689c#diff-f2e5c2ee12b2a561981417a8a936ad956278298dc38b343200e6a7f9970a20dd).

I'm not sure what the best approach is. Could perhaps use `ember-compatability-helpers` to exclude the initia

[2021-11-15 00:22] SergeAstapov commented on #491
@gilest see my comment [in #489](https://github.com/adopted-ember-addons/ember-keyboard/pull/489#issuecomment-968399835).

TL;DR there does not seem simple option to make it work with Ember v4.

[2021-11-15 00:59] gilest commented on #491
Thank you @SergeAstapov – I can specifically include that package in dev builds internally. Godspeed with v7.

[2021-11-15 00:59] #491 closed

[2021-11-15 01:15] SergeAstapov commented on #491
@gilest just had an idea: we may have v7.beta-0 including dropping support for Node.js 10 and #489.

Then we could upgrade `ember-cli-addon-docs` to use `ember-keyboard@v7.beta-0`. This will make CI happy for addons using `ember-cli-addon-docs` in their `devDependencies`.

[2021-11-15 01:22] gilest commented on #491
@SergeAstapov That's true and addon authors could pin the beta right away anyway. See my scuffed fix in adopted-ember-addons/ember-file-upload#603 😅

[2021-11-15 02:19] SergeAstapov commented on #491
@gilest we could make a new release of `ember-cli-addon-docs` with `ember-keyboard@v7.beta-0` so addons could enjoy green CI again

[2021-11-15 21:48] gilest commented on #491
@SergeAstapov That would certainly be helpful :)

[2021-11-17 03:03] #164 closed

[2021-11-19 02:30] lukemelia commented on #464
Yes, please! I would also be open to authoring this addon in typescript.

[2021-11-24 06:30] bertdeblock opened #531 "Package version is still `6.0.3`"

[2021-11-24 08:31] bertdeblock commented on #116
Maybe these can be ditched as well?
https://github.com/adopted-ember-addons/ember-keyboard/blob/master/addon/index.js#L5-L15
They seem to have been present like this for a while, so seems safe to drop these in the next major?

[2021-11-26 01:14] SergeAstapov commented on #531
@bertdeblock did you mean `version` field in `package.json` or smth else? https://www.npmjs.com/package/ember-keyboard has `6.0.4`

[2021-11-26 01:36] SergeAstapov commented on #410
@akankshadharkar could you please try latest v6.0.4?

all the necessary fixes for proper `deprecate` function usage were fixed in v6.0.3 so you should not see any warnings about missing `for` and `since` arguments.

Regarding `ember-keyboard-first-responder-inputs` initializer - it's legit deprecation warning:
* if you don't rely on the functionality provided by the initializer, disable the initia

[2021-11-26 01:36] #410 closed

[2021-11-26 02:21] SergeAstapov commented on #194
@chrism would you mind sharing reproduction of the issue you have?

[2021-11-26 05:16] bertdeblock commented on #531
I noticed on `master` it still has 6.0.3.

[2021-11-27 04:47] SergeAstapov commented on #114
I think with latest changes in the addon this is invalid approach and the one can use `on-key` helper like so

[code]

Such approach is already being taught in docs on [Usage page](http://adopted-ember-addons.github.io/ember-keyboard/usage).

@lukemelia what do you think? Should we close this?

[2021-11-27 04:48] SergeAstapov commented on #531
@bertdeblock we published `6.0.4` version from `v6` branch which had only cherry picked commits from `master` and didn't bother merging back as nothing is "lost" in master and we planned to release v7 beta.0 real soon

[2021-11-29 07:22] #531 closed

[2021-12-26 20:27] st-h commented on #212
@lukemelia I've finally revisited this issue. Turns out, my scrolling issue could be easily resolved by adding `event.preventDefault()` to the handler of the space key. I have opened a PR with above mentioned changes and a config option called `disableOnInputFields`. When set to true, ember keyboard events never fire when an input, textarea or a contenteditable element is focus.

[2022-01-10 23:17] NullVoxPopuli opened #565 "Not compatible with Ember 4"
Got a deprecation on 3.28 about using `@ember/legacy-bulit-in-components` for TextArea.
But, why is ember-keyboard using textarea?

[2022-01-10 23:43] SergeAstapov commented on #565
@NullVoxPopuli which version of the addon are you using? `v7.0.0-beta.0` is what you need for Ember v4 compatibility

[2022-01-10 23:46] NullVoxPopuli commented on #565
oh! I didn't know there was a beta. _noice_!
I'll give it a go

[2022-01-11 14:55] #565 closed

[2022-01-11 16:12] SergeAstapov commented on #565
@NullVoxPopuli I think we would need to land #557. Other than that - does not seem we have any other issues.

Wonder if @lukemelia has any other things before we land stable release?

[2022-01-11 17:31] lukemelia commented on #565
@SergeAstapov @NullVoxPopuli I don't think #557 is a requirement to make 7.0.0 stable. I'll do it now.

[2022-01-11 20:39] lukemelia commented on #565
Released!

[2022-01-11 20:42] NullVoxPopuli commented on #565
Yay! Thank you!

[2022-01-18 21:05] simonihmig commented on #212
I was also running into this. Looking forward when #557 lands. As a workaround for now I tried [as suggested](https://github.com/adopted-ember-addons/ember-keyboard/issues/212#issuecomment-664301189) applying `{{on-key firstResponder=true}}` on the native input, but this didn't work for me.

Looking at the modifier's code, I also don't see that this alone would prevent any other responders. Also `

[2022-01-18 21:12] st-h commented on #212
Until the PR is merged you can use this entry in your package json, which will pull the code from the git branch:
[code]

Otherwise, I think stopping propagation on the ekEvent is the right way to do this.

[2022-01-18 21:58] #212 closed

[2022-01-18 23:41] lukemelia opened #577 "Update documentation website for 7.x release"

[2022-04-06 09:44] didoo commented on #194
@SergeAstapov I see the a lot of deprecation warnings too, using a simple implementation like this:
`<a ... {{on-key "Space" this.onKeySpace}}>`

(`ember-cli: 4.1.1` / `ember-keyboard: 8.0.0`)

<img width="1249" alt="screenshot_1274" src="https://user-images.githubusercontent.com/686239/161946941-a9ac1a4f-2a9a-4f6c-8e11-6119e7e57ed9.png">
<img width="1247" alt="screenshot_1273" src="https://user-i

[2022-04-06 21:01] SergeAstapov commented on #194
@didoo those deprecations have been recently introduced by `ember-modifier` in [v3.2.0](https://github.com/ember-modifier/ember-modifier/releases/tag/v3.2.0).
I plan to address them this or next week.

[2022-04-06 22:12] SergeAstapov commented on #194
Actually `ember-modifier` deprecations seem to be easy to fix, created #617

[2022-04-07 03:35] SergeAstapov commented on #194
@didoo 8.1.0 is out fixing `ember-modifier` deprecations

[2022-04-12 20:33] swastik opened #621 "Windows `keydown` with `shift` triggers with the uppercase key"
Hey there! Thanks for this great addon! 😄

I'm trying to add a keyboard shortcut in my app, something like `cmd+shift+g`. I'm registering it like `{{on-key "cmd+shift+g" this.doSomething}}`. It seems to work on Mac, however on Windows the shortcut is never triggered.

Looking at [javascript.info](https://javascript.info/keyboard-events) on Mac, the keydown event is triggered with lowercase `g`:

!

[2022-04-12 20:50] swastik commented on #621
It seems like [these lines](https://github.com/adopted-ember-addons/ember-keyboard/blob/master/addon/src/utils/is-key.js#L98-L103) are trying to do something similar, but it probably doesn't get to it because `shift` isn't the only modifier in my shortcut. 🤔

[2022-08-25 09:47] edwardhelsby-intercom opened #680 "Cannot register handlers for : key"
Handlers registered against `:` using the `on-key` helper do not work.

https://github.com/adopted-ember-addons/ember-keyboard/blob/933e1df4f27845b12b71bd2ed65c1f9d60790986/addon/src/utils/keyboard-listener.js#L24

[code]

[2022-08-25 13:54] SergeAstapov commented on #680
@edwardhelsby-intercom could you please provide some more info, e.g. how did you try to use the `on-key` helper?

[2022-08-25 14:27] edwardhelsby-intercom commented on #680
Sure! within a template like so:

`{{on-key ':' this.doThing}}`

[2022-09-01 19:59] SergeAstapov commented on #680
@edwardhelsby-intercom could you please try `ember-keyboard@8.2.0-unstable.56621f2` and confirm if it fixes an issue you reported?

I accidentally pushed the fix to the master branch instead of doing PR via https://github.com/adopted-ember-addons/ember-keyboard/commit/56621f210cf4ca8b7a8f914b90eecbeeb2dc8b86 🙈

[2022-10-25 09:39] edwardhelsby-intercom commented on #680
Thanks for making that fix 🚀 I'm a couple of major versions behind so it may be a while before able to test that out

[2022-10-31 14:36] svdsande opened #692 "keyArray.sort is not a function"
I installed version `7.0.1` and I am trying to trigger an action based on a given key press. The example below results in the following error: _TypeError: keyArray.sort is not a function_
[code]

The error occurs in `listener-name` util. I am not sure if I am missing something.
Let me know if I could help in any way.

[2022-10-31 16:28] lukemelia commented on #692
@svdsande I tried to reproduce your issue in a test (https://github.com/adopted-ember-addons/ember-keyboard/pull/new/svdsande-repro-attempt) but it passed. Please take a look at that branch and see if you can create a reproduction / failing test.

[2022-11-01 08:28] svdsande commented on #692
@lukemelia Thanks for the quick response! I will try to create a reproducible scenario based on that branch. Will keep you posted 👍

[2022-11-01 16:15] svdsande commented on #692
Looks like my setup was incorrect 🙈 So this issue is not relevant. Thanks for the help.

[2022-11-01 16:15] #692 closed

[2022-11-22 18:23] svdsande opened #699 "Keyboard handler is triggered multiple times."
Due to the fact that both key and code are checked when determining if a key is triggered, a keyboard handler could be called multiple times.

The following function will be called twice when pressing `NumpadEnter`
[code]

The reason for this behavior is the fact that in this scenario `event.code` is equal to `NumpadEnter` but `event.key` is equal to `Enter` Therefore when iterating over all keybo